# Object files
*.o

# Executables
src/chatnut
src/chatnut-debug

# Windows executables
src/chatnut.exe
src/chatnut-debug.exe

# NetBeans data folder
data/

# NetBeans project folder
nbproject/

# Eclipse folders
.settings/

# Eclipse project files
.cproject
.project

# gedit backup files
*~

# Dolphin .directory files
.directory
src/.directory
